<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.feifanuniv.collegeebook.mapper.CollegeMapper">
	<select id="selectAllCollege" resultType="College">
		select * from College
	</select>
	
	<select id="selectCollegeByName" resultType="College" parameterType="String">
		select * from College where CollegeName like '%${value}%'
	</select>
	
	<select id="selectCollegeByCode" resultType="College" parameterType="String">
		select * from College where code=#{value}
	</select>
	
	<select id="selectCollegeById"   resultType="College" parameterType="int">
		select * from College where id=#{id}
	</select>
	
	<update id="deleteCollege" parameterType="int">
		delete from College where id=#{id}
	</update>
	
	<update id="updateCollege" parameterType="College">
		update [QingShuSvc].[dbo].[College] 
		<set>
			<if test="CollegeName!= null and CollegeName!=''">
			 	CollegeName = #{collegeName},
			</if>
			<if test="Url!= null and Url!=''">
			 	Url = #{url},
			</if>
			<if test="Code!= null and Code!=''">
			 	Code = #{code},
			</if>
		</set>
		where Id=#{id}
	</update>
	
	<insert id="insertCollege" parameterType="College">
	 insert College(CollegeName,Url,Code) values(#{collegeName},#{url},#{code})
	</insert>
</mapper>